/* Mobile-first basis */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  /* De gevraagde witte pagina */
  font-family: sans-serif;
  color: #000;
  overflow-x: hidden;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.intro-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}